body
{
	background-color: #ead6ff;
	background-image: url('../images/greyhoundsfacing05.png');
	padding-left: 15em;
	font-family: Century Gothic, Geneva, Arial, Helvetica, sans-serif;
	padding-right: 3em;
}

h1
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

ul
{
	font-family: Century Gothic, Geneva, Arial, Helvetica, sans-serif;
}

ul.navbar
{
	background: none;
	list-style-type: none;
	position: absolute;
	top: 4em;
	left: 0em;
	width: 11em;
}

ul.navbar li
{
	background: #a496b2;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em none;
}

a:link
{
	color: #ff00ff;
}

img.textwrap
{
	float: right;
	margin: 1em;
}